@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* This won't be included in your compiled CSS unless you actually use it */
  .root {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
      "header header"
      "sidebar board";
    height: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    @apply bg-primary-light dark:bg-primary-dark dark:text-white;
    grid-area: sidebar;

  }

  .board {
    @apply bg-secondary-light dark:bg-secondary-dark dark:text-white p-3;
    grid-area: board;
  }
}

html,
body {
  height: 100%;
}